numpy
pandas
tqdm
joblib
requests
db_dtypes
langchain
psycopg2-binary
pgvector
google-cloud
bigquery
unidecode
logger
openai
langchain-openai
openpyxl
python-json-logger
langchain-community
pandas_gbq
load_dotenv
